@tailwind base;
@tailwind components;
@tailwind utilities;

/* HOME */
.content-title {
  @apply max-w-[720px] text-center text-gray-800 font-semibold  text-4xl
}

.content-paragraph {
  @apply max-w-[720px] text-gray-500 text-center
}

.span-decoration {
  @apply text-teal-500 underline decoration-teal-500
}

.input-form {
  @apply w-full rounded-lg border border-teal-400 bg-teal-50 outline-teal-500 px-3.5 py-2
}

/* Chat styles */
.border-message-received {
  border-radius: 12px 12px 12px 0px;
}

.border-message-send {
  border-radius: 12px 12px 0px 12px;
}

/* Form Contacts */
.form_contacts-input {
  @apply w-full outline-0 bg-gray-100 rounded-xl p-3 text-sm font-semibold text-gray-800 placeholder:text-gray-400;
}

.chat-textarea {
  @apply w-full outline-0 border border-gray-200 min-h-[46px] max-h-[90px] rounded-xl p-3 text-sm font-normal text-gray-800 placeholder:text-gray-400;
}

.contact_modal-input {
  @apply w-full outline-0 border border-gray-200 min-h-[46px] max-h-[90px] max-w-[300px] rounded-xl p-3 text-sm font-medium text-gray-600 placeholder:text-gray-400;
}

@keyframes blinkColor {

  0%,
  50%,
  100% {
    background-color: #2dd4bf;
  }

  25%,
  75% {
    background-color: #22d3ee;
  }
}

.blinking-color {
  animation: blinkColor 1.9s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}